# Python
__pycache__/
*.py[cod]
*.pyo

# Virtual Environment
.venv/
venv/
env/

# VS Code
.vscode/

# Jupyter
.ipynb_checkpoints/

# Logs
*.log

# OS Files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Model Cache
*.h5
*.ckpt

# Python cache
.pytest_cache/
.mypy_cache/

# Environment variables
.env

# Build
build/
dist/